[submodule "dependencies/chisel3"]
	path = dependencies/chisel3
	url = git@github.com:chipsalliance/chisel3
[submodule "dependencies/chiseltest"]
	path = dependencies/chiseltest
	url = git@github.com:ucb-bar/chiseltest
[submodule "dependencies/firrtl"]
	path = dependencies/firrtl
	url = git@github.com:chipsalliance/firrtl
[submodule "dependencies/treadle"]
	path = dependencies/treadle
	url = git@github.com:chipsalliance/treadle
[submodule "dependencies/tilelink"]
	path = dependencies/tilelink
	url = https://github.com/sequencer/tilelink
